      <div id="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="box">
                <h3>Schools</h3>
                  <table class="table table-striped" id="schools">
                    <thead class='thead-dark'>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">desctiption</th>
                        <th scope="col">Status</th>
                        <th scope="col">Created By</th>
                        <th scope="col" colspan="3">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @schools.each do |school| %>
                      <tr id="<%= dom_id school%>">
                        <%= render school %>
                      </tr>
                      <% end %>
                      <tr>
                        <td colspan="4">
                          <%= will_paginate @schools, link_separator: "&nbsp;", next_label: '<i class="fa-solid fa-arrow-right-long"></i>', previous_label: '<i class="fa-solid fa-arrow-left-long"></i>' %>
                        </td>
                        <td colspan="3" >
                          <%= link_to raw("<i class='fa fa-plus'></i> New School"), new_admin_school_path %>
                        </td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

<% content_for :footer_js do %>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const schoolsContainer = document.getElementById("schools");
        schoolsContainer.addEventListener("click", function(event) {
          if (event.target.matches(".toogle_status")) {
            const toogleTd = event.target.parentNode.parentNode;
            const toogleSubmit = toogleTd.querySelector(".toogle-status-button");
            toogleSubmit.click();
          }
        });
      });
    </script>
  <% end %>